<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">
  <variable name="myvar" value="myvalue"/>

  <targets>

	<target xsi:type="File" name="Actions" fileName="${basedir}/logs/Actions.log"
                  layout="${longdate} ${message}" />
  </targets>

  <rules>
    <logger name="*" level="Info" writeTo="Actions">   
		<filters defaultAction='Ignore'>
			<when condition="starts-with('${message}', 'Update')" action="Log" />
			<when condition="starts-with('${message}', 'Create')" action="Log" />
			<when condition="starts-with('${message}', 'Delete')" action="Log" />
		</filters>
	</logger>
  </rules>
</nlog>
